.Cardcreate {
  /* color: white; */
  background-color:#6300a9;
  height: 300px;
  width: 300px;
  margin: 0px;
  padding: 0px;
  padding-right: 0;
  display:inline-block;
  text-align: justify;

  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
  transition: 0.4s;
  /* margin-bottom: 35px; */
  border-radius: 10px;
  opacity: 0.8;
}
.card2{
  margin-left:400px;
  margin-top:-325px;
}

.para{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.card3{
  margin-top: -325px;
  margin-left:800px
}

table{
  display:grid;
  margin:0 auto;
}
.col-md-3 {
  padding-left: 80px;
}
.img{
  margin-left:90px;
  margin-top:10px;
  border-radius:150px;
}
.card-heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
}
.cbtn{
  background-color: white;
 color: #6300a9; 
 width:100px;
 height:42px;
 margin-left:90px;
 border-radius:10px;
}
.cbtn:hover{
  background-color:grey;
}
.card-heading3{
  margin-right:120px;

}

.img2{
  /* margin-left:150px; */
}