.Cardcreate {
  /* color: white; */
  background-color: #6300a9;
  height: 250px;
  width: 250px;
  background-color: #6300a9;
  height: 300px;
  width: 300px;
  margin: 0px;
  padding: 0px;
  padding-right: 0;
  display: inline-block;
  text-align: justify;

  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
  transition: 0.4s;
  /* margin-bottom: 35px; */
  border-radius: 10px;
  opacity: 0.8;
}
.card2 {
  margin-left: 300px;
  margin-top: -275px;
}
.card3 {
  margin-top: -275px;
  margin-left: 600px;
}
.card2 {
  margin-left: 400px;
  margin-top: -325px;
}

.para {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.card3 {
  margin-top: -325px;
  margin-left: 800px;
}

table {
  display: grid;
  margin: 0 auto;
}
.col-md-3 {
  padding-left: 80px;
}

.img {
  margin-left: 90px;
  margin-top: 10px;
}
.card-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
}
.createbtn {
  background-color: white;
  color: #6300a9;
}

.carrd {
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  width: 250px;
  margin: 20px;
  /* background-color:rgba(128, 128, 128); */
  background-color: #6300a9;
  display: inline-block;
  margin: 70px;
  display: "flex";
  flex-direction: "row";
  flex: 1;
}

.carrd-image img {
  width: 100px;
  height: 80px;
}

.carrd-title,
.carrd-description {
  text-align: center;
  color: white;
  margin: 0;
  padding: 10px;
}

.carrd-title {
  font-weight: bold;
  font-size: 16px;
}

.carrd-description {
  font-size: 12px;
  font-weight: 10;
}

.home-carrds {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

.carrd-btn {
  padding: 4px 10px;
  border-radius: 4px;
  outline: none;
  border: #fff;
  border-color: black;
  border-radius: 0.2cm;
  text-align: center;
  /* margin-left: 150px;
  margin-top: 25px; */
  font-size: 15px;
  font-weight: lighter;
  color: grey;
  cursor: pointer;
}

.carrd-btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: white;
  background-color: grey;
  border-radius: 4px;
  /* border: 2px solid var(--primary); */
  border: 2px solid;
  transition: all 0.3s ease-out;
}

/* .home-carrds > .Createserviceprofile {
  display: inline-block;
  display: flex;
} */

.para {
  width: 300px;
}
.img {
  margin-left: 90px;
  margin-top: 10px;
  border-radius: 150px;
}
.card-heading {
  width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 95px;
}
.cbtn {
  background-color: white;
  color: #6300a9;
  width: 100px;
  height: 42px;
  margin-left: 90px;
  border-radius: 10px;
}
.cbtn:hover {
  background-color: grey;
}
.card-heading3 {
  margin-right: 120px;
}
.submit {
  /* background: #6300a9;
  color: white; */
  /* border-style: outset; */
  /* border-color: purple; */
  /* height: 40px;
  width: 80px;
  align-items: right;
  margin: right; */
  /* font: bold15px arial, sans-serif; */
  /* /* text-shadow: none; */
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
  color: #6300a9;
  width: 100px;
  height: 42px;
  /* margin-right: -90px; */
  align-items: center;
  /* border-radius: 10px; */
}
.submit:hover {
  background: #6300a9;
  color: #fff;
  border: 1px solid #eee;
  opacity: 0.8;
  /* border-radius: 20px; */
  /* box-shadow: 5px 5px 5px #eee; */
  /* text-shadow: none; */
}
.name {
  padding-bottom: 20px;
  align-items: center;
}
fieldset {
  border: #6300a9;
}
.formcreate {
  /* width: 1800px; */
  /* height: 100px; */
  /* background-color: #c281eb; */
  background-image: linear-gradient(
    to left bottom,
    #ebf6fa,
    #d2d8f2,
    #e8f1f8,
    #ecd7f8,
    #f2c7fc,
    #f1cbfa,
    #f1c4fb,
    #f5b3fd
  );
  /* font-family: ; */
  /* font-weight: lighter; */
  /* padding-bottom: 10rem; */
  /* margin-left: 20px; */
  /* font-style: italic; */
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  width: 35rem;
  height: 2rem;
  border-radius: 1rem;
  /* padding: 12px 20px; */
  /* margin-right: 2500px; */
  margin: 4px 0;
}

.p {
  align-items: center;
}
.forminput {
  align-items: center;
}
h1 {
  background-image: linear-gradient(
    to left bottom,
    #ebf6fa,
    #d2d8f2,
    #e8f1f8,
    #ecd7f8,
    #f2c7fc,
    #f1cbfa,
    #f1c4fb,
    #f5b3fd
  );
}
.pri-left {
  /* background: #c281eb; */
  background-image: linear-gradient(
    to left bottom,
    #ebf6fa,
    #d2d8f2,
    #e8f1f8,
    #ecd7f8,
    #f2c7fc,
    #f1cbfa,
    #f1c4fb,
    #f5b3fd
  );
  width: 50%;
  float: left;
}

.pri-right {
  /* background: #c281eb; */
  background-image: linear-gradient(
    to left bottom,
    #ebf6fa,
    #d2d8f2,
    #e8f1f8,
    #ecd7f8,
    #f2c7fc,
    #f1cbfa,
    #f1c4fb,
    #f5b3fd
  );
  width: 50%;
  float: right;
  padding-left: 20px;
}

.ansible-left {
  /* background: #c281eb; */
  background-image: linear-gradient(
    to left bottom,
    #ebf6fa,
    #d2d8f2,
    #e8f1f8,
    #ecd7f8,
    #f2c7fc,
    #f1cbfa,
    #f1c4fb,
    #f5b3fd
  );
  width: 50%;
  float: left;
}

.ansible-right {
  /* background: #c281eb; */
  background-image: linear-gradient(
    to left bottom,
    #ebf6fa,
    #d2d8f2,
    #e8f1f8,
    #ecd7f8,
    #f2c7fc,
    #f1cbfa,
    #f1c4fb,
    #f5b3fd
  );
  width: 50%;
  float: right;
}
